@model TaskViewModel
@{
    ViewData["Title"] = "Task Page";
}

<h2 class="mb-4">Task</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add New Task</a>

<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Created At</th>
            <th>Last Modified</th>
            <th>ModifiedBy</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
         @if (Model.Tasks != null && Model.Tasks.Any())
        {
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Status</td>
                    <td>@item.DueDate</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.LastModified</td>
                    <td>@item.ModifiedBy</td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure you want to delete this Task?');">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center text-muted">No Tasks found</td>
            </tr>
        }
        }
    </tbody>
</table>

<ul>
    @foreach (var item in Model.Items)
    {
        var text = evalItem(@item);
        if (doWeKnowHim(item))
        {
            <li>@item - @text!!!</li>
        }
        else
        {
            <li>@item</li>
        }
    }
</ul>

@functions {
    public bool doWeKnowHim(string item)
    {
        return item.Contains("Les");
    }

    public string evalItem(string item)
    {
        if (item.Contains("Les"))
            return "lo conocemos";
        else
            return "ok";
    }
}
